<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.blockchain.wallet.mapper.TxDestMapper">
  <resultMap id="BaseResultMap" type="org.blockchain.wallet.entity.TxDest">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tx_hash" jdbcType="VARCHAR" property="txHash" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tx_hash, address, amount, symbol, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tx_dest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectBySelective" parameterType="org.blockchain.wallet.entity.TxDest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tx_dest
    where 1 = 1
    <if test="txHash != null">
      and tx_hash = #{txHash,jdbcType=VARCHAR}
    </if>
    <if test="symbol != null">
      and symbol = #{symbol,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tx_dest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBySelective" parameterType="org.blockchain.wallet.entity.TxDest">
    delete from tx_dest
    where 1 = 1
    <if test="txHash != null">
      and tx_hash = #{txHash,jdbcType=VARCHAR}
    </if>
    <if test="symbol != null">
      and symbol = #{symbol,jdbcType=VARCHAR}
    </if>
  </delete>
  <insert id="insert" parameterType="org.blockchain.wallet.entity.TxDest">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tx_dest (tx_hash, address, amount, 
      symbol, create_time, update_time
      )
    values (#{txHash,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, 
      #{symbol,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.blockchain.wallet.entity.TxDest">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tx_dest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="txHash != null">
        tx_hash,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="txHash != null">
        #{txHash,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.blockchain.wallet.entity.TxDest">
    update tx_dest
    <set>
      <if test="txHash != null">
        tx_hash = #{txHash,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.blockchain.wallet.entity.TxDest">
    update tx_dest
    set tx_hash = #{txHash,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      symbol = #{symbol,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>